body {
    background-color: #f9fafc;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 0.5em;
}

a:link, a:visited {
    color: #69696a;
    text-decoration: none;
}

button {
    background-color: #000;
    color: #f2f2f2;
    justify-content: center;
    padding: 5px;
    border-radius: 2em;
    width: 100%;
}


/************************************************************************************************************************** */
@media screen and (min-width: 768px) {

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

h4 {
    margin-bottom: 0.5em;
    margin-top: 0.7em;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li {
    display: inline-flex;
    align-items: center;
    margin-right: 0.5em;
    
}

button {
    height: min-content;
    width: fit-content;
}

main {
    margin-top: 141px;
}

p {
    width: 45%;
}

#scroll_button {
    width: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circles {
    position: relative;
    display: flex;
    justify-content: flex-end;

}

#red {
    display: flex;
    position: absolute;
    width:250px;
    height: 250px;
    border-radius: 50%;
    display: inline-block;
    background-color: rgba(247, 136, 167, 0.6);
    top: -225px;
    right: 75px;
}

#orange {
    position: absolute;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    display: inline-block;
    background-color: rgba(247, 193, 162, 0.7);
    top: -120px;
}

#purple {
position: absolute;
width: 115px;
height: 115px;
border-radius: 50%;
display: inline-block;
background-color: rgba(207, 130, 213, 0.6);
top: -195px;
}

}